<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryan.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.ryan.entity.Product" >
    <id column="prod_id" property="prodId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="total_sales" property="totalSales" jdbcType="INTEGER" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    prod_id, price, inventory, total_sales, release_time, images,name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_product
    where prod_id = #{prodId,jdbcType=INTEGER}
  </select>
  <select id="getAllProduct" resultType="com.ryan.entity.Product">
    select
    <include refid="Base_Column_List"/>
    from t_product
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product
    where prod_id = #{prodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ryan.entity.Product" >
    insert into t_product (prod_id, price, inventory, 
      total_sales, release_time, images,name
      )
    values (#{prodId,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{inventory,jdbcType=INTEGER}, 
      #{totalSales,jdbcType=INTEGER}, #{releaseTime,jdbcType=TIMESTAMP}, #{images,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryan.entity.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
      <if test="totalSales != null" >
        total_sales,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
      <if test="images != null" >
        images,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prodId != null" >
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="totalSales != null" >
        #{totalSales,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryan.entity.Product" >
    update t_product
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="totalSales != null" >
        total_sales = #{totalSales,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
    </set>
    where prod_id = #{prodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryan.entity.Product" >
    update t_product
    set price = #{price,jdbcType=INTEGER},
      inventory = #{inventory,jdbcType=INTEGER},
      total_sales = #{totalSales,jdbcType=INTEGER},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      images = #{images,jdbcType=VARCHAR}
    where prod_id = #{prodId,jdbcType=INTEGER}
  </update>
</mapper>